.row-fluid
  .span12
    = simple_form_for(resource, :html => {:class => "form-horizontal"}) do |form|
      %legend
        New Template
      = render form
      = form.button :submit, t("views.common.save")
      = link_to t(".cancel"), :back, :class => "btn btn-link"
