.row-fluid
  .span1
  .span10
    = simple_form_for(resource, :html => {:class => "form-horizontal"}) do |form|
      %legend
        Edit Server
      = render form
      = form.button :submit, t("views.common.save")
      = link_to t(".cancel"), :back, :class => "btn btn-link"
  .span1